@font-face {
    font-family: "SuperMario";
    src: url("Font/SuperMario.woff2") format("woff2")
}

@font-face {
    font-family: "SmallSM";
    src: url("Font/SmallSM.woff2") format("woff2"),
    url("Font/SmallSM.woff") format("woff")
}

* {
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body {
    margin: 0;
    background: url(Images/BG.jpg);
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}


.page-title {
    color: rgb(0, 0, 0);
    font-family: SuperMario, Serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}



.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: SmallSM, serif;
    font-weight: normal;
    font-size: 1.5em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.board {
    height: 490px;
    width: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(247, 238, 227);
    border: 10px solid lightgray;
}

.card {
    position:relative;
    
    height: 110px;
    width: 110px;
    margin: 2.5px;
}

.card:hover {
    cursor: url("Images/BulletBill.cur"), auto;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg)
}

.card.visible .card-front {
    transform: rotateY(0);
}



.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color:rgb(253, 220, 73);
    font-family: SuperMario, serif;
}

.overlay-text-small {
    font-size: .3em
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {background-color: rgba(0,0,0,0);
    font-size:0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size:9em;
    }
}

.card-back {
    background-color: rgb(221, 197, 90);
    display: flex;
    height: 110px;
    width: 110px;
}

.card-front {
    transform: rotateY(-180deg);
    display: flex;
    height: 110px;
    width: 110px;
}

.back-block {
  align-self: flex-start;  
  height: 110px;
  width: 110px;
}

.front-block {
    align-self: flex-start;  
    height: 110px;
    width: 110px;
  }

  button {
    font-family: SuperMario, Serif;
    font-size: 1.5em;
}

  .home {
    left:50;
    position: relative;
    display: flex;
    justify-content: center;
  }